/* MarkDown相关属性
============================================================================= */
:root {
    /* 表 */
    --table-border-color                : #cecece;
    --table-border-width                : 1px;

    --table-head-background             : #E6E6FA;
    --table-head-border-color           : var(--table-border-color);
    --table-head-border-width           : var(--table-border-width);
    --table-head-font-weight            : bold;

    --table-body-border-color           : var(--table-border-color);
    --table-body-border-width           : var(--table-border-width);

    --table-row-even-background         : #ffffff;/* 偶数行背景色 */
    --table-row-odd-background          : #f7f7f7;/* 奇数行背景色 */

    --table-cell-border-color           : var(--table-border-color);
    --table-cell-border-width           : var(--table-border-width);
    --table-cell-padding                : 0.75em 0.5em;
}

/* 一键复制代码插件
============================================================================= */
:root {
    --copycode-background: #888888;
    --copycode-color     : #ffffff;
}